.hero {
  @include centeredMarg;

  background-color: var(--dark-fon);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 480px) {
    max-width: var(--mobile);
  }
  @media screen and (min-width: 768px) {
    max-width: var(--tablet);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    @include centeredMarg;

    color: var(--white-color);

    text-transform: uppercase;

    @media screen and (min-width: 480px) {
      width: 360px;
      @include font(26px, 900, 0.06em, 1.62);
    }
    // @media screen and (min-width: 768px) {
    //   width: var(--tablet);
    // }
    @media screen and (min-width: 1200px) {
      width: 696px;
      @include font(44px, 900, 0.06em, 1.36);
    }
  }
  &__button {
    display: inline-block;
    width: 200px;
  }
}
