.we-do {
  display: flex;
  gap: 30px;
}

.we-do__item {
  position: relative;
}

.we-do__paragraf {
  position: absolute;

  @include centeredFlex();

  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  @include font(14px, 700, null, 1.14);
  text-transform: uppercase;

  color: var(--white-color);
}
