.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &.no-padding {
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 30px;

    @include font(28px, 700, null, 1.17);
    text-align: center;

    color: var(--title-text-color);

    @media screen and (min-width: 1200) {
      margin-bottom: 50px;
      @include font(36px, 700, null, 1.17);
    }
  }
}
