@mixin centeredFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($fs, $fw, $ls, $lh) {
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
}

@mixin centeredMarg() {
  margin-right: auto;
  margin-left: auto;
}

@mixin retina2() {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
@mixin retina3() {
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    @content;
  }
}
