:root {
  --brand-color: #2196f3;
  --text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --fon-color: #e5e5e5;
  --dark-fon: #2f303a;
  --comand-fon: #f5f4fa;
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --portfolio-action-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --hover-time: 250ms;
  --hover-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
